body {
        background-color: #ffd9d3;
        color: #000;
        font-family: georgia;
        font-size: 100%;
        }

      h1 {
        color: #f09399;
        font-family: georgia;
        font-size: 200%;
        }

      h2 {
        color: #000;
        font-family: georgia;
        font-size: 170%;
        }

      p {
        color: #000;
        font-family: georgia;
        font-size: 160%;
        }
      
      ul {
        color: #f09399;
        font-family: georgia;
        font-size: 100%;
        }
      
      a {
        position: relative;
        color: #000;
        text-decoration: none;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        }

      a:hover {
        color: #fff;
        }

      a:active {
        color: #f09399;
        }

      a:link {
        text-decoration: none;
        }

      a:visited {
        text-decoration: none;
        }
              
      a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        }
              
      a:hover::before {
        transform: scaleX(1);
        }
